@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    /* Primary Color */
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);

    /* Neutral color */
    --veryPaleBlue: hsl(225, 100%, 98%);
    --purple: hsl(244, 84%, 69%);
    --desaturatedBlue: hsl(224, 81%, 84%);
    --desaturatedBlueT: hsla(224, 23%, 55%, 0.060);
    --darkBlue: hsl(223, 47%, 23%);
    --white: white;
}

*{
    font-family: 'Red Hat Display', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}

body {
    /* position: relative; */
    height: 100vh;
    background-color: var(--desaturatedBlue);
    font-size: 16px;
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    text-align: center;
    border-radius: 20px;

    width: 450px;
    height: 700px;
    background-color: var(--white);
}

.banner {
    border-radius: 20px 20px 0 0;
    margin: auto;
}

.title, .description  {
    padding: 8px 60px;
    color: var(--darkBlue);
}

.title {
    font-weight: 900;
    font-size: 28px;
}

.description {
    font-weight: 500;
    line-height: 25px;
}

.rowThree {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    background-color: var(--desaturatedBlueT);
    border-radius: 10px;
    padding: 25px;
}

h2, .price {
    font-size: 16px;
    color: var(--darkBlue);
    padding: 3px 0;
}

h2 {font-weight: 900;}
.price {font-weight: 700;}

.columnTwo {
    text-align: left;
}

.columnThree {
    width: 40px;
}

.link {
    font-size: 14px;
    font-weight: 900;
    color: var(--brightBlue);
}

.link:hover {
    cursor: pointer;
    color: var(--purple);
    text-decoration: none;
}

.rowFour {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    padding: 15px;
    width: 330px;
    font-size: 14px;
    font-weight: 900;
    border-radius: 10px;
    border: none;
}

.confirmButton {
    background-color: var(--brightBlue);
    color: var(--white);
    box-shadow: 5px 5px 30px -5px var(--purple);
}

.confirmButton:hover {
    background-color: var(--purple);
    cursor: pointer;
    box-shadow: 5px 5px 30px -5px var(--purple);
}

.cancelButton {
    background-color: var(--white);
    margin: 10px 0 40px 0;
}

.cancelButton:hover {
    cursor: pointer;
    color: var(--darkBlue);
    opacity: 100%;
}
    
.opacity {
    opacity: 60%;
}

@media (max-width: 375px) {
    .banner, .content {
        width: 330px;
    }

    .content {
        gap: 0px;
        height: 520px;
    }

    .title, .description {
        padding: 8px 30px;
    }

    .rowThree {
        padding: 15px;
    }

    .rowFour {
        gap: 10px;
    }

    .columnThree {
        width: 5px;
    }

    button {
        width: 270px;
    }

    .cancelButton {
        margin-bottom: 10px;
    }
}
